@inject IHttpContextAccessor HttpContextAccessor

@{
    //TODO: Move this to the codebehind, if possible
    var jwt = HttpContextAccessor.HttpContext?.Session.GetString("JWT");
    bool isLoggedIn = !string.IsNullOrEmpty(jwt);
    string? userName = null;

    // OPTIONAL: Decode JWT to extract username (requires System.IdentityModel.Tokens.Jwt)
    if (isLoggedIn)
    {
        var handler = new System.IdentityModel.Tokens.Jwt.JwtSecurityTokenHandler();
        var token = handler.ReadJwtToken(jwt);
        userName = token.Claims.FirstOrDefault(c => c.Type == "unique_name")?.Value ?? "User";
    }
}

<ul class="navbar-nav">
    @if (isLoggedIn)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-page="/Manage" title="Manage">Hello @userName!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" method="post" asp-page="/Account/Logout">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
